<h1>Here we display a list of all the coins</h1>

{{#each coin}}
<div id="coinList">
<img src="{{image.small}}" alt="{{id}}"/>
<h2>{{name}}</h2>
<p>{{market_data.current_price.eur}}€</p>

</div>

{{/each}}