
<div class="index-container">



<div class="index-middle-cont">


<div>
<img src="images/logo3.png">
</div>


<div class="index-middle-btn">

{{#if userLoggedIn}}

<div>
<a href="/profile" class="btn-index-a"><button type="button" class="btn btn-outline-light btn-index">My Profile</button></a>
</div>
<div>
<a href="/logout" id="logOut" class="btn-index-a"><button type="button" class="btn btn-outline-light btn-index">Logout</button></a>
</div>
{{else}}
<div>
<a href="/signup" class="btn-index-a"><button type="button" class="btn btn-outline-light btn-index">Sign Up</button></a>
</div>
<div>
<a href="/login" class="btn-index-a"><button type="button" class="btn btn-outline-light btn-index">Login</button></a>
</div>
{{/if}}
</div>
</div>



<div class="home-container">
    <video autoplay loop muted  class="back-video">
    <source src="https://res.cloudinary.com/daeoxlzb4/video/upload/v1677153375/video-crypto_sqqqe8.mp4" type="video/mp4">
</video>


</div>


</div>