<div class="home-container">

<h1>Welcome IronCryptoHacker! 🚀</h1>



{{#if userLoggedIn}}
<a href="/profile">My Profile</a>
<a href="/logout" id="logOut">logout</a>
{{else}}
<a href="/signup">signup</a>
<a href="/login">login</a>
{{/if}}

<video autoplay loop muted plays-inline  class="back-video">
    <source src="src="https://player.vimeo.com/video/726575596?h=3f4b9d09e5"">
</video>

<div style="padding:56.25% 0 0 0;position:relative;">
    <iframe src="https://player.vimeo.com/video/726575596?h=3f4b9d09e5&autoplay=1&loop=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    </div>
    <script src="https://player.vimeo.com/api/player.js"></script>
</div>

</div>