<div class="index-container">



<h1 class="index">Welcome CryptoHacker</h1>


<div class="home-container">
    <video autoplay loop muted  class="back-video">
    <source src="/images/video-crypto.mp4" type="video/mp4">
</video>

{{#if userLoggedIn}}
<a href="/profile">My Profile</a>
<a href="/logout" id="logOut">logout</a>
{{else}}
<a href="/signup">signup</a>
<a href="/login">login</a>
{{/if}}
</div>


</div>