
*{
  user-select: none;
  
  
}
body {
  padding: 0px;
 /*  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  /* background-color: #c9e9f6; */
  margin: 0;
  padding: 1%;
  font-family: 'Roboto Condensed', sans-serif;
}

nav{
  
  padding: 20px;
}

.index-container{
  text-align: center;
  padding: 25vh;

}

.index-middle-cont{
  display: flex;
  flex-direction: column;
}

.index-middle-btn{
  display: flex;
  flex-direction: row;
  align-self: center;
  margin: 1%;
}


.back-video{
object-fit: cover;
position: absolute;
right: 0;
top: 0;
bottom: 0;
z-index: -1;
opacity: 0.6;
width: 100vw;
height: 100vh;
/* filter: brightness(30%); */
filter: grayscale(90%) brightness(70%) blur(1.5px);
}

.index{
  color: rgb(20, 30, 48);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#coinList {
  display: flex;
  margin: 20px;
}


/* LOGIN FORM */

body {
  background: linear-gradient(#141e30, #243b55);
  
  background-image: url("/images/Prancheta1.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  background: linear-gradient(#141e30, #243b55);
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-family: VT323;
  font-size: 350%;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

footer{
  background-color: #141e30;
  height: 2vw;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: hwb(183 28% 9% / 0.1);
  text-align: left;
  padding-top: 1vh;
  padding-left: 2vh;
  font-size: 2vh;
  justify-content: space-around;
}
.navbar-dark{
  background-color: #11ffee00;
};
.offcanvas{
background-color: rgb(235, 180, 2);
}
.nav-logout{
  position: fixed;
  bottom: 0;
  margin-bottom: 2vh;
}

.btn-index{
border-radius: 2.2vh;
font-size: 2.7vh;
border-color: #141e30;
border: 3px solid #141e30;
width: 10vw;
margin: 20px;
margin-top: 6%;
}


.btn-edit-prof{
  text-decoration: none;
  color: #141e30;
}

li{
  list-style: none;
}
.list-group-item{
background-color: #141e30;
}
.list-group-flush{
  border-style: solid 10px white;
}
.offcanvas-header{
  background-color: #141e30;
}
.offcanvas-body{
  background-color: #141e30;
}


/*----- Coin page Styling -------*/

.table{
  color: #5d89bb;
}

.titles-table{
  color:  #5d89bb;
}

.title-coins{
padding: 2vw;
color: #5d89bb;
}

.title-name-prof{
  color: #5d89bb;
  margin-top: 7%;
  }

.table-hover tr:hover td{
  color: #5d89bb;
  background-color: #0b111b;
}
.table-hover tr:hover .th-hvr{
  color: #5d89bb;
  background-color: #0b111b;
}


/*----- Profile page Styling -------*/

.container-prof {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 3%;
}


.profile-info{
  color:  #5d89bb;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  
}
.btn-profile{
  border-radius: 1.7vh;
  font-size: 2vh;
  border: 3px solid #5d89bb;
  width: 7vw;
}
.profile-info span{
  color: #5d89bb;
}

.img-profile{
border-radius: 20%;
box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.501) -6px -2px 16px 0px;
width: 65%;
}

.profile-text{
  margin-top: 2%;
  margin-bottom: 0%;
}

/* -------User Profile Portfolio + WatchList */
.port-wat-cards{
  display: flex;
  flex-direction: row;
}

.card-img-prof{
  width: 10%
}

.coinProf{
  margin-bottom: 5%;
  font-size: 3vh;
  
}
.coinProf > img{
  margin-right: 7%
}

.card h2{
color: #5d89bb;
margin: 4%
}

.card-header{
color: #5d89bbaa;
}

.cardProf{
  margin-right: 7%;
}





.rounded{
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  background-color:#0b111b;
  color: white;
}
.avatars > ul{
  display: flex;
  flex-direction: row;
  margin-left: 3vw;
  margin-top: 3%;
}
.radioButton{
  margin-left: 29%;
  margin-top: 5%;
}
.editProfile{
  margin-top: 1%;
  color:#5d89bb;
}

.editInput{
  margin-left: 2vw;
}
.saveBtn{
  margin-left: 45vw;
}
.nameEdit{
  color: #5d89bb;
  font-weight: bold;
}
.img-edit{
  box-shadow: rgba(96, 176, 241, 0.5) -5px 5px, rgba(96, 176, 241, 0.4) -10px 10px, rgba(96, 176, 241, 0.3) -15px 15px, rgba(96, 176, 241, 0.15) -20px 20px;
  width: 70%;
}
.cardPort{
  background-color: #0b111b;
  margin: 3%;
  box-shadow: hsla(210, 8%, 62%, 0.2) 0px 8px 24px;
}
.cardsP{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card-img-top{
  width: 20%
}
.coinP{
  margin-bottom: 7%;
  
}
.coinP > img{
  margin-right: 7%
}
.btn-portlist{
    border-radius: 1.7vh;
    font-size: 2vh;
    
}
.cardDetails{
  background-color: #0b111b;
  margin-left: 4%;
  padding: 2%;
}
.imgDetails{
  width: 100%;
  margin-top: 10%;
  
}
.formDiv{
  margin-top: 13%
}
.bold{
  font-weight: bold;
}
.deleteBtn{
  position:absolute;
  
}
.cardMargin{
  margin-top: 0
}
.updateBtn{
  background-color: #141e30;
}
.updateInput{
  display: flex;

}


.login-btn{
border-radius: 1.5vh;
font-size: 2vh;
border-color: #141e30;
border: 3px solid #141e30;
width: 7vw;
margin-bottom: 2vh;
}
.login-box h3{
  font-size: 2.5vh;
}


.editProf{
  margin-bottom: 0%
}
.backBtn{
  color:#fff;
  margin-left: 2%;
}

.titles-pixelated-prof{
  font-family: VT323;
  font-size: 300%;
}
.btn-margin{
  margin-left: 1%;
}
.btn-margin2{
  margin-left: 5%
}