*{
  user-select: none;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

#coinList {
  display: flex;
  margin: 2% 0;
}

.container-prof {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

