<h1>Editing your new Coin</h1>

{{#each coin}}

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{imageThumb}}" alt="{{id}}">
  <div class="card-body">
    <h5 class={{name}}>Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
    <form action="/" method="POST"> </form> <form action="/profile/edit" method="POST">
  </div>
</div>
{{/each}}

